black ; python_version == '3.8.*'
docutils
flake8
flake8-bugbear
flake8-comprehensions
flake8-tidy-imports
isort
multilint
Pygments
pytest
pytest-cov
pytest-env-info
pytest-randomly
secretstorage # required for twine on linux
twine
